/* ----------------- */
/* Color preferences */
/* ----------------- */

:root {
    --color-base: #F55A5A;
    --color-base-contrast: #FFFFFF;
    --color-horizontal-line: #918E9B;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-background: #F5F5F5;
        --color-text: #2B283A;
        --color-text-highlight: #918E9B;
        --color-horizontal-line: #918E9B;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #242229;
        --color-text: #F5F5F5;
        --color-text-highlight: #FFFFFF;
        --color-horizontal-line: #565074;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
}

.navbar {
    background-color: var(--color-base);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1)
}

.nav--logo {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-base-contrast);
    gap: 0.5rem;
}

.nav--text {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.075rem;
    color: var(--color-base-contrast);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    color: var(--color-text);
}

.card--image {
    width: 8rem;
    height: 11.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card--image:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.card--stats {
    margin-left: 1.25rem;
}

.card--location {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.17rem;
    fill: var(--color-base);
}

.card--location svg {
    margin-right: 0.25rem;
}

.card--location--link {
    font-size: 0.75rem;
    color: var(--color-text-highlight);
}

.card--title {
    margin: 0.375rem 0;
    font-size: 1.625rem;
    font-weight: 800;
}

.card--date {
    font-size: 0.75rem;
    font-weight: 800;
}

.card--description {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 40rem;
    text-align: justify;
}


/* Dynamic cards divider  */
.cards-list > .card + .card {
    padding-top: 2rem;
    border-top: 1.5px solid var(--color-horizontal-line);
}

.cards-list .card:first-child {
    padding-top: 0;
}

.cards-list .card:last-child {
    padding-bottom: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    background-color: var(--color-base);
    color: var(--color-base-contrast);
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        margin: 2rem;
    }

    .card--image {
        height: auto;
        width: 100%;
    }

    .card--stats {
        margin: 1rem 0 0 0;
        padding: 0;
    }
}